header {
  margin: 0;
}
h1 {
  margin: 0;
}
body {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 1fr 2.5fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100vh;
  width: 100vw;
}
#input-form {
  display: flex;
  flex-direction: column;
}
#submit-button {
  width: 50px;
  margin: auto;
  margin-top: 5px;
}
/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
