header {
  margin: 0;
}
h1 {
  margin: 0;
}
body {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 1fr 2.5fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100vh;
  width: 100vw;
}
p {
  margin: 5px 0px;
}
h2 {
  overflow: scroll;
  margin-top: 0;
}
#input-form {
  display: flex;
  flex-direction: column;
}
#submit-button {
  width: 50px;
  margin: auto;
  margin-top: 5px;
}
#feedback-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr) 2.5fr;
  grid-template-rows: 50px;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}
.grid-item {
  font-size: 24px;
  overflow: scroll;
}
@media (orientation: portrait) {
  .grid-item {
    font-size: 14px;
  }
  #feedback-section {
    grid-template-columns: 1fr 1fr 1fr 2.5fr;
  }
  h2 {
    font-size: 15px;
  }
}
/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
